<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="description" content="A free video chatting website" />
    <meta name="robots" content="index,follow" />
    <link rel="icon" href="/img/icon.svg" />
    <link rel="stylesheet" href="/css/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Pattaya&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Cookie&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap"
      rel="stylesheet"
    />
    <script>
      const ROOM_ID = "<%= roomId %>";
    </script>
     <script>
      window.onload = function() {
         let xhr = new XMLHttpRequest();
         xhr.onreadystatechange = function($evt){
            if(xhr.readyState == 4 && xhr.status == 200){
                let res = JSON.parse(xhr.responseText);
                console.log("response: ",res);
            }
         }
         xhr.open("PUT", "https://global.xirsys.net/_turn/MyFirstApp", true);
         xhr.setRequestHeader ("Authorization", "Basic " + btoa("lechinhtruc321:8571be8a-a405-11ec-a0a2-0242ac130003") );
         xhr.setRequestHeader ("Content-Type", "application/json");
         xhr.send( JSON.stringify({"format": "urls"}) );
      }
  </script>
    <script
      src="/js/peerjs.min.js"
      defer
    ></script>
    <script src="/js/jquery.js" defer></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="/js/script.js" defer></script>
    <title>Speak</title>
  </head>
  <section id="main-section" class="video-section">
    <h2>Let's Speak!</h2>
    <h5>Your View</h5>
    <div id="video-grid"></div>
    <div class="button-area">
      <button id="end-button">End Call</button>
      <button id="invite-button">Invite Friends</button>
    </div>
  </section>
</html>
